  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(119, 0, 255);
  }
  .heading_div
  {
    float: none ;
    background: rgb(0, 255, 234) ; 
    padding: 10px ;
    border-radius: 20px; 
    color: rgb(225, 0, 255);
    box-shadow:5px 5px 5px rgb(255, 0, 212);
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
{
  box-shadow:5px 5px 5px rgb(255, 0, 242);
  font-size: 20px;
}
.result_para_tag span
{
  white-space: pre-line;
}
.copy_right_footer {
  position: fixed;
  color: rgb(102, 0, 116);
  bottom: 0;
  width: 100%;
  background-color:rgb(255, 0, 221);
  line-height: 3;
  text-align: center;
}
canvas 
  {
    border:5px solid rgb(234, 0, 255);
    border-radius:20px;
    box-shadow:5px 5px 5px rgb(0, 255, 234);
    margin-top: 160px; 
  }
